* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__content {
  margin-top: 16px;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item {
  margin-top: 16px;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
  margin-top: 16px;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  background: #fff;
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.box-content {
  overflow: hidden;
}

.nav {
  background-color: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  transition: right 0.3s;
}

.top-head {
  background: #F1E4E6;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__li:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #F16D7F;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  width: 100%;
}
.product__content {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #F16D7F;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.shadowtest {
  width: 200px;
  height: 200px;
  font-size: 40px;
  color: #FFFFFF;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ramka {
  width: 350px;
  height: 250px;
  border: 1px solid #000;
  margin-bottom: 200px;
}

.r1 {
  border-bottom-right-radius: 40px;
}

.r2 {
  border-radius: 0 10px 20px;
}

.r3 {
  border-radius: 10px 20px;
}

.r4 {
  border-radius: 10px/20px;
}

.r5 {
  border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
}

.r6 {
  border-radius: 10px 20px 30px 40px/30px;
}

.r7 {
  border-radius: 50%;
}

.r8 {
  border-top: none;
  border-bottom: none;
  border-radius: 30px/90px;
}

.r9 {
  border-bottom-left-radius: 100px;
}

.r10 {
  border-radius: 0 100%;
}

.r11 {
  border-radius: 0 50% 50% 50%;
}

.r12 {
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px;
}

.r13 {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 100px;
  border-left-width: 100px;
  border-bottom: 100px solid black;
}

html {
  scroll-behavior: smooth;
}

.content_test {
  background-color: #ccc;
  min-height: 700px;
}

.menu2 {
  position: sticky;
  top: 20%;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 20%;
}

.main2 {
  margin-left: 20%;
}

.parllaxtest {
  min-height: 350px;
  background-image: url(img/see.jpg);
  background-attachment: fixed;
}/*# sourceMappingURL=style.css.map */