* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
html {
    overflow-x: hidden;
}

.box {
    min-height: 100vh;
    position: relative;
}

input {
    position: absolute;
    left: -9999999px;
    visibility: hidden;

    &:checked~.content_menu {
        right: -250px;
    }
}



.content_menu {
    position: absolute;
    right: 0;
    transition: right 0.3s;
}

summary {
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;

}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    // content: '\2192';
    padding-right: 5px;
}

summary::after {
    content: url(img/galka.svg);
}

// details[open]>summary::before {
//     content: '\2193';
// }

.sortMenu {
    display: flex;
    // align-items: center;
    gap: 30px;

    &__hover:hover {
        color: #F16D7F;
    }

}

.label_checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    position: absolute;
}