* {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
}

.box-content {
    width: 200px;
    height: 30px;
    background-color: aqua;
}

.box-content:has(.text) {
    background-color: aquamarine;
}

.title:nth-of-type(3n) {
    background-color: red;
}

.text {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
}

.text::first-letter {
    initial-letter: 3 3;
    color: red;
    margin-right: 10px;
}